@{
    ViewData["Title"] = "Home Page";
}

<div class="has-bg-img">
    <div class="mask" style ="background-color: red"></div>
    <img class="bg-img" src="~/Assets/Holiday Movies.jpg">
        
</div>
