@{
    ViewData["Title"] = "*** Honorable Mention ***";
}
<h1>@ViewData["Title"]</h1>


<section class="text-center">
<p> This page is dedicated to the great Dayna Grimes</p>
</section>

<main class="mt-5">
    <div class="container">
        <!--Section content-->
        <section>
            <div class="row">
                <div class="col-md-6 gx-5 mb-4">
                    <img src="~/Assets/Dayna2.jpg" />
                </div>
            </div>
            <div class="col-md-6 gx-5 mb-4">
                <h4><strong> Serving others</strong></h4>
                <p class="text-muted">
                    Impacting and improving the lives of others brings Dayna great joy. Her selfless desire is to offer up strategies, best practices and creative solutions from the roads she has traveled throughout the years.
                </p>
            </div>
        </section>
        <hr class="my-5" />
        <section>
            <div class="row">
                <div class="col-md-6 gx-5 mb-4">
                    <img src="~/Assets/Spouse.JPG" />
                    <img src="~/Assets/Family.JPG" />
                    <img src="~/Assets/Dayna1.png" />
                </div>
            </div>
            <div class="col-md-6 gx-5 mb-4">
                <h4><strong> Serving others...</strong></h4>
                <p class="text-muted">
                </p>
            </div>
        </section>
        <hr class="my-5" />

    </div>

</main>
@*
<div class="has-bg-img">
    <img class="bg-img" src="~/Assets/Dayna1.png">

</div>

<div class="main_img--container">
    <img src="~/Assets/Dayna realestae.jpg" />
    <img src="~/Assets/IMG_3851.JPG" />
    <img src="~/Assets/IMG_3852.JPG" />
    <img src="~/Assets/Dayna realestae.jpg" />
</div>  *@